.blog {
  &__container {
    width: 858px;
    margin: auto;
    margin-bottom: 71px;
  }

  &__wrapper {
    gap: 106px;
  }

  &__text-wrapper {
    width: 506px;
    flex-direction: column;
    gap: 40px
  }

  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
  }

  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
  }

  &__btn {
    width: 208px;
    height: 47px;
    padding: 9px 21px 17px 20px;
    color: white;
    background-color: #FF6464;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    cursor: pointer;
  }
}